/target/classes/com/example/doga/arrow.png
/target/classes/com/example/doga/box.png
/target/classes/com/example/doga/boxopen.png
/target/classes/com/example/doga/hello-view.fxml
/target/classes/com/example/doga/HelloApplication.class
/target/classes/com/example/doga/HelloController.class
/target/classes/module-info.class
/target/classes/com/example/doga/null.png
